/* start global rules  */

:root{
    --main-color : #1E202B;
    --sec-color : #323544;
    --white-color : white;
    --hover-nav-color : #009ad8;
    --text-color : #bfc1c8;
}
body{
    font-family: sans-serif;

}

@media screen and (min-width: 1440px) {
    .container{
        padding-inline: 95px ;
    }
    
}

/* end global rules  */


/* start nav bar  */

nav {
    background-color: var(--main-color);
    color: var(--white-color);
}
.nav-item {
    transition: border .3s ;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-right: 10px;
}
.logo-text h1{
    font-size: 1rem;
    margin-bottom: 3px;
    font-weight: 700;
}
.logo-text p{
 font-size: .625rem;
 margin-bottom: 0;
 font-weight: 300;
 color: #bfc1c8 ;
}

.nav-item:hover {
    border: 1px solid var(--hover-nav-color);
}
.nav-item.active{
    border: 1px solid var(--hover-nav-color);

}
.nav-link{
    font-size: .875rem;
    transition: color .3s ;
    color: var(--white-color);
}

.nav-link:focus{

    color: var(--white-color);
}
.navbar-nav .nav-link.active{
    color: var(--hover-nav-color);
}
.nav-link:hover{
   color: var(--hover-nav-color);
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        text-align: center;
        background-color: #262936;
        margin-top: 30px;
        border-radius: 20px;
    }
    .nav-item.active{
        border: 0;
        border-bottom: 1px solid #bfc1c8;

    }
     .nav-item{
        border-bottom: 1px solid #bfc1c8;
        padding-block: 10px ;
        transition: none ;
        border-radius: 0;
        margin-right: 0;

    }

    .nav-item:hover {
       
        border-bottom: 1px solid #bfc1c8;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-top: 1px solid transparent;
        color: white;
        }
    .nav-item:last-child , .nav-item:last-child:hover{
        border-bottom: none;
        padding-block: 10px ;
    }


    }
    .navbar-toggler{
        padding: 30px;
        border-radius: 50%;
        border: 1px solid transparent;
        transition: all .3s;
    }
    .navbar-toggler:hover{
        border: 1px solid var(--hover-nav-color);
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }     

    .bars{
        color: white;
        font-size: 20px;
        transition: all .3s;
    }
    .navbar-toggler:hover  .bars{
        color: var(--hover-nav-color);
    }
    

/* end nav bar  */


/* start hero section */
.hero-sec{
    background-image: url("../imgs/banner.png");
    background-color: var(--main-color) ;
    background-repeat: no-repeat;
}
#search , #contactus{
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: .875rem;
    border: 1px solid var(--main-color);
    outline: none;
}

#find{
 background-color: var(--hover-nav-color);
 color: var(--white-color);
 top: 50%;
 right: -30px;
 padding-inline: 2rem;
 padding-block: .6rem;
 font-size: .875rem;
}

.card{
    background-color: var(--sec-color);
}
.card-header{
   color: var(--text-color);
   font-size: .875rem;
   font-weight: 400;
   background-color: #2D303D;
}

.card-header h3 ,.card-header h2{
    font-size: .875rem;
   font-weight: 400;
}
.card-title{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--text-color);
}
small.special{
    top: -3rem;
    font-size: 3.625rem;
}
.degree.special{
    font-size: 5.625rem;
    color: var(--white-color);
    font-weight: 700;
}
.degree{
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 700;
}
small{
    top: -0.5rem;
    font-size: 1.125rem;
}
@media screen and (min-width: 400px) {
    .temperature-info.special{
        display: flex;
    }
}

@media screen and (min-width: 922px) {
    .temperature-info.special{
        display: block;
    }
}
.card-body .temperature{
    font-size: .875rem;
    font-weight: 300;
    color: var(--hover-nav-color);
}

.temperature-imgs{
    color: var(--text-color);
}

@media screen and (max-width: 245px) {
    .temperature-imgs{
        flex-wrap: wrap;
    }



}
.degree.minmum{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 300;
}
.degree.minmum small{
    font-size: .75rem;
}
.temperature-info-two{
    padding-bottom: 149px;
}
.card.two{
    background-color: #262936;
}
.card-header.two{
    background-color: #222530;
}
/* end hero section */


/* start footer  */

footer {
    background-color: #262936;
}
#subscribe{
    background-color: var(--hover-nav-color);
    color: var(--white-color);
    top: 50%;
    right: -55px;
    padding-inline: 2rem;
    padding-block: .6rem;
    font-size: .875rem;
}

.icons i {
    color :var(--hover-nav-color);
    width: 40px;
    height: 40px;
    padding-top: 11px;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 50%;
    font-size: 1.25rem;
    transition: background-color .3s , color 0.3s;
}
.icons i:hover{
    background-color: var(--hover-nav-color);
    color: var(--white-color);
}
.footer-text{
    color: var(--text-color);
    font-size: .875rem;
    font-weight: 300;
}
/* end footer  */